<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin.css">
  <title>Login</title>
</head>

<body>
  <div class="login">
    <div class="heading">
      <h2>Sign in</h2>
      <form action="/admin" method="POST" name="loginForm">

        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" placeholder="Login" name="login">
        </div>

        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>

        <button type="submit" class="float">Log in</button>
      </form>
    </div>
  </div>

</body>

</html>
