<div class="order-wrapper d-flex">

  <div class="col-sm-5 layout d-flex flex-column justify-content-center">
    <div class="layout-shirt d-flex justify-content-center">
      <div class="svg-img">
      </div>
    </div>
    <div class="layout-short d-flex justify-content-center">
      <div class="svg-img">
      </div>
    </div>
    <div class="layout-gaiter d-flex justify-content-center">
      <div class="svg-img">
      </div>
    </div>
  </div>
  <div class="col-sm-7 layout-options d-flex flex-column">
    <section class="row flex-column align-items-center">
      <span class="h1 text-center">Почти готово!</span>
    </section>

    <section class="row settings align-items-center">
      <span class="h5 text-center d-none d-sm-block">Укажите количество игроков, нанесение, фамилии и номера.</span>
      <button type="button" class="btn btn-green btn-primary" data-toggle="modal" data-target="#addPlayers">Список
        игроков</button>
    </section>

    <section id="price-row" class="row flex-column align-items-center">
      <div class="flex-row align-items-start">
        <p>Стоимость заказа:<span class="totalPrice">0</span> руб.</p>
      </div>
      <button class="d-block clickable btn btn-green btn-promary" data-toggle="modal"
        data-target="#sendordermodal">Отправить
        заказ</button>
    </section>
  </div>

</div>

{{!-- modal --}}
