<div class="modal-content">
  <div class="oplata">
    <p>Мы предлагаем вам несколько способов оплаты заказа:</p>
    <ul>
      <li>По безналичному расчету путем перечисления денежных средств на наш расчетный счет. (ссылка на наши реквизиты).
      </li>
      <li>Оплата банковской картой на сайте. При оформлении заказа на сайте, указав корректный e-mail вам придет онлайн
        счёт, который можно оплатить картой банка.</li>
    </ul>
    <p class="small">При оплате заказа банковской картой обработка информации и платежа происходит на авторизационном
      сервере платежной платформы. Это значит, что ваши конфиденциальные данные (реквизиты карты) не поступают в
      интернет-магазин. Информация по защищенному каналу связи SSL передается в зашифрованном виде напрямую на
      авторизационный сервер. Для передачи информации используются специальные технологии безопасности интернет-платежей
      Verifed by Visa и MasterCard SecureCode. Все операции по вашей карте осуществляются при полном соблюдении
      требований VISA International и MasterCard Worldwide. </p>
  </div>
  <p>
    <button type="button" class="btn btn-green" data-dismiss="modal">Закрыть</button>
  </p>
</div>
