<div class="modal-content" >
      <div class="contact">
         <h3 class="text-center">Контакты</h3>
         <label><b>ООО «Спортэго»</b></label><br>
         <label><b>Часы работы:</b> Понедельник - Пятница</label><br>
         <label>c 10:00 до 19:00</label><br>
         <label><b>Телефон:</b> <a class="roistat-phone-tel roistat-phone" href="tel:+78002221253">8 (800) 222-12-53</a></label><br>
         <label><b>Адрес:</b> 194044, Санкт-Петербург, Большой Сампсониевский проспект, д.28</label><br>
      </div>
      <div class="rekvizity">
         <h3 class="text-center">Реквизиты</h3>
         <label><b>ООО «Спортэго»</b></label><br>
         <laberl><b>ИНН</b> 7842502149<br>
         <laberl><b>КПП</b> 780201001<br>
         <laberl><b>ОГРН</b> 1137847320434<br>
         <label><b>Телефон:</b> <a class="roistat-phone-tel roistat-phone" href="tel:+78002221253">8 (800) 222-12-53</a></label><br>
         <label><b>Юридический адрес:</b> 194044, Санкт-Петербург, Большой Сампсониевский проспект, д.28</label><br>
      </laberl></laberl></laberl></div>
      <p class="align-self-end">
        <button type="button" class="btn btn-green" data-dismiss="modal">Закрыть</button>
      </p>
    </div>
