<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/animate.min.css">
  <script defer src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script defer src="/js/navbar_buttons.js"></script>
  {{!--
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="/css/typeahead.css">
  <link rel="stylesheet" href="/css/bootstrap.min-calc.css">
  <link rel="stylesheet" href="/css/custom-calc.css"> --}}
  <title>Athletic Wear Constructor</title>
</head>

<body>
  <header class="contacts">
    <ul>
      <li><a href="/#dostavka" data-toggle="modal" data-target="#dostavka">Доставка</a></li>
      <li><a href="#oplata" data-toggle="modal">Оплата</a></li>
      <li><a href="#contacts" data-toggle="modal" data-target="#contacts">Контакты</a></li>
      <li><a href="https://www.instagram.com/sportego_/" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://vk.com/sportego" target="_blank"><i class="fab fa-vk"></i></a></li>
    </ul>
  </header>
  <div class="wrapper nav-fill nav nav-tabs wow fadeInLeft animated type-toggle">
    <a class="type-icon" id="tshirt" data-toggle="tab" href="/"><img src="/img/tshirt.png" alt="logo-tshirt"></a>
    <a class="type-icon" id="shorts" data-toggle="tab" href="/shorts"><img src="/img/shorts.png" alt="logo-shorts"></a>
    <a class="type-icon" id="socks" data-toggle="tab" href="/socks"><img src="/img/socks.png" alt="logo-socks"></a>
    <a class="type-icon" id="cart" data-toggle="tab" href="/cart"><img src="/img/cart.png" alt="logo-cart"></a>
  </div>
  <div class="container">

    <div>
      <div class="order-wrapper d-flex">
        {{{body}}}
      </div>

    </div>

  </div>
  {{!-- модальные окна --}}
  {{!-- contacts --}}
  <div class="modal fade" id="contacts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="contact">
          <h3 class="text-center">Контакты</h3>
          <label><b>ООО «Наша Фирма»</b></label><br>
          <label><b>Часы работы:</b> Понедельник - Пятница</label><br>
          <label>c 10:00 до 19:00</label><br>
          <label><b>Телефон:</b> <a class="roistat-phone-tel roistat-phone" href="tel:+78002221253">8 (800)
              555-55-53</a></label><br>
          <label><b>Адрес:</b> 107344, Москва, Лучший проспект, д.28</label><br>
        </div>
        <div class="rekvizity">
          <h3 class="text-center">Реквизиты</h3>
          <label><b>ООО «Фирма»</b></label><br>
          <laberl><b>ИНН</b> 0000000000<br>
            <laberl><b>КПП</b> 000000000000<br>
              <laberl><b>ОГРН</b> 0000000000<br>
                <label><b>Телефон:</b> <a class="roistat-phone-tel roistat-phone" href="tel:+78002221253">8 (800)
                    222-12-53</a></label><br>
                <label><b>Юридический адрес:</b> 07344, Москва, Лучший проспект, д.28</label><br>
              </laberl>
            </laberl>
          </laberl>
        </div>
        <p class="align-self-end">
          <button type="button" class="btn btn-green" data-dismiss="modal">Закрыть</button>
        </p>
      </div>
    </div>
  </div>

  {{!-- payment --}}
  <div class="modal fade" id="oplata" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="oplata">
          <p>Мы предлагаем вам несколько способов оплаты заказа:</p>
          <ul>
            <li>По безналичному расчету путем перечисления денежных средств на наш расчетный счет. (ссылка на наши
              реквизиты).
            </li>
            <li>Оплата банковской картой на сайте. При оформлении заказа на сайте, указав корректный e-mail вам
              придет
              онлайн
              счёт, который можно оплатить картой банка.</li>
          </ul>
          <p class="small">При оплате заказа банковской картой обработка информации и платежа происходит на
            авторизационном
            сервере платежной платформы. Это значит, что ваши конфиденциальные данные (реквизиты карты) не поступают
            в
            интернет-магазин. Информация по защищенному каналу связи SSL передается в зашифрованном виде напрямую на
            авторизационный сервер. Для передачи информации используются специальные технологии безопасности
            интернет-платежей
            Verifed by Visa и MasterCard SecureCode. Все операции по вашей карте осуществляются при полном
            соблюдении
            требований VISA International и MasterCard Worldwide. </p>
          <button type="button" class="btn btn-green" data-dismiss="modal">Закрыть</button>
        </div>
        <p>
        </p>
      </div>
    </div>
  </div>

  {{!-- shipping --}}
  <div class="modal fade" id="dostavka" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content ">
        <div class="dostavka">
          <div class="type-toggle nav nav-tabs nav-fill" id="nav-tab dostavka" role="tablist">
            <a class="type-icon active" id="nav-courier-tab" data-toggle="tab" href="#courier" role="tab"
              aria-controls="nav-home" aria-selected="true">Курьерская доставка</a>
            <a class="type-icon" id="nav-boxberry-tab" data-toggle="tab" href="#boxberry" role="tab"
              aria-controls="nav-profile" aria-selected="false">Доставка Boxberry</a>
            <a class="type-icon" id="nav-sdek-tab" data-toggle="tab" href="#sdek" role="tab" aria-controls="nav-profile"
              aria-selected="false">СДЭК</a>
          </div>

          <div class="tab-content ">
            <div class="tab-pane fade show active" id="courier" role="tabpanel" aria-labelledby="nav-courier-tab">
              <div class="">
                <h4>Курьерская доставка</h4>
                <p>Максимальный размер 150см по сумме трех измерений, до 10 кг</p>
                <p>Возможна оплата наличными при получении (только в Санкт-Петербурге и Москве).</p>
                <p>Срок доставки от 1-3 рабочих дня.</p>
                <p>В пределах МКАД и КАД — 400 руб.</p>
                <p>До 100 км за МКАД — 500 руб.</p>
                <p>До 100 км за КАД — от 600 руб. (уточняйте у менеджера)</p>
                <p>При заказе от 7000 рублей доставка по Санкт-Петербургу и Москве – 1 руб. *При отказе от покупки без
                  объективных причин (передумали, не можете оплатить, не подошел размер) взымается компенсация курьеру
                  за
                  "холостую поездку" - 500 руб.</p>
              </div>
            </div>
            <div class="tab-pane fade" id="boxberry" role="tabpanel" aria-labelledby="nav-boxberry-tab">
              <div class="">
                <h4>Доставка Boxberry</h4>
                <p>Максимальный размер 120 х 80 х 50 см По предварительной оплате</p>
                <p>Расчитать стоимость на <a href="https://boxberry.ru/calculate_the_cost_of_sending/"
                    target="_blank">сайте
                    Boxberry</a></p>
              </div>
            </div>
            <div class="tab-pane fade" id="sdek" role="tabpanel" aria-labelledby="nav-sdek-tab">
              <div class="">
                <h4>Доставка СДЭК</h4>
                <p>Вес посылки можно расчитать исходя из следующих данных: 15 комплектов формы весят 5кг.</p>
                <div class="cdek-wrap">
                  <iframe id="cdek-calc" style="float:left;"
                    src="https://cdek-online.ru/construct_form.php?city_from=137&amp;lenght=20&amp;width=35&amp;height=20&amp;sender_status=other&amp;method_from=1&amp;extra=150"
                    scrolling="no" frameborder="0" height="370px" width="99%"></iframe>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-green" data-dismiss="modal">Закрыть</button>
          </div>

        </div>
      </div>
    </div>
  </div>
  {{!-- players --}}
  <div class="modal fade" id="addPlayers" tabindex="-1" role="dialog" aria-labelledby="addPlayers" style="display:none"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="players">
          <div class="first rowPlayer d-flex flex-column align-items-center"
            style="position: relative; padding-top: 15px; border: 1px dashed #CCC; background: #f5f5f5;">
            <p>
              <input class="form-control" style="width: 50px; display: inline-block;" type="text" name="number"
                placeholder="№">
              <input class="form-control" style="width: 250px; display: inline-block;" type="text" name="namePlayer"
                placeholder="Фамилия/надпись">
              <select name="rukav" class="form-control" style="width: 170px; display: inline-block;">
                <option value="1" selected="">Короткий рукав</option>
                <option value="2">Длинный рукав</option>
              </select>
              <select name="size" required="" class="form-control" style="width: 110px; display: inline-block;">
                <option selected="" disabled="">Размер</option>
                <option value="YS">YXS (86-104)</option>
                <option value="YS">YS (104-116)</option>
                <option value="YM">YM (116-128)</option>
                <option value="YL">YL (128-140)</option>
                <option value="YL">YXL (140-152)</option>
                <option value="YL">Y2XL (152-164)</option>
                <option value="S">S (46)</option>
                <option value="M">M (48-50)</option>
                <option value="L">L (50-52)</option>
                <option value="XL">XL (52-54)</option>
                <option value="XXL">XXL (56-58)</option>
                <option value="XXXL">XXXL (60-62)</option>
              </select>
            </p>

            <div style="padding: 0 20px 10px;">
              <label style="width: 250px; text-align: left; cursor: pointer;"><input type="checkbox" name="printFIO"
                  data-price="150" data-price2="150"> Нанесение фамилии <sup>+150 руб.</sup> </label>
              <label style="width: 300px; text-align: left; cursor: pointer;"><input type="checkbox" name="printNumber"
                  data-price="200" data-price2="200"> Нанесение номера на спине <sup>+200 руб.</sup></label>
              <br><br>

              <label><input type="checkbox" name="shirt" checked="checked" data-price="0"> Футболка</label>
              <label><input type="checkbox" name="short" data-price="0"> Шорты</label>
              <label><input type="checkbox" name="gaiter" data-price="0"> Гетры</label>
              <!-- <label class="hidden"><input class="partner" type="checkbox" name="goalstream" data-price="0" /> Goalstream</label> -->
            </div>
            <p><button class="add btn btn btn-green btn-xl" style="outline: none;">Добавить игрока</button></p>
          </div>
        </div>
        <div class="">
          <p>
            <button type="button" class="btn btn-secondary closeplayers float-right"
              data-dismiss="modal">Продолжить</button>
          </p>
        </div>
      </div>
    </div>
  </div>

  {{!-- checkout--}}
  <div class="modal fade" id="sendordermodal" tabindex="-1" role="dialog" aria-labelledby="sendordermodal"
    style="display:none" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <section class="row flex-column align-items-center contact-card">
          <span class="h5">Как с вами связаться?</span>
          <div class="col-sm-8">
            <form class="d-flex flex-column">
              <p><input type="text" class="form-control" name="name" placeholder="Имя" required=""></p>
              <p><input type="text" class="form-control" name="phone" placeholder="Контактный телефон" required=""
                  data-im-insert="true"></p>
              <p><input type="email" class="form-control" name="email" placeholder="Электронная почта" required=""></p>
              <p><textarea class="form-control" name="comment" placeholder="Комментарий к заказу"></textarea></p>
              <a id="sendOrder" class="btn-send btn btn-green d-flex m-auto" data-toggle="tooltip" data-placement="top"
                title="Введите Ваше Имя, Телефон и E-mail">Отправить заказ</a>
              <p class="small text-center">Нажимая кнопку "отправить заказ", Вы даете <a data-toggle="modal"
                  data-target="#soglasie">согласие на обработку персональных данных</a></p>
            </form>
          </div>
        </section>
      </div>
    </div>
  </div>



</body>

</html>
