<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/typeahead.css">
  <link rel="stylesheet" href="/css/custom.css">
   <link rel="stylesheet" href="/css/custom-calc.css">
  <title>Athletic Wear Constructor</title>
</head>

<body>
  <div class="contacts">
    <ul>
      <li><a href="http://id.sportego.ru/#dostavka" data-toggle="modal">Доставка</a></li>
      <li><a href="http://id.sportego.ru/#oplata" data-toggle="modal">Оплата</a></li>
      <li><a href="http://id.sportego.ru/#contacts" data-toggle="modal">Контакты</a></li>
      <li><a href="https://www.instagram.com/sportego_/" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://vk.com/sportego" target="_blank"><i class="fab fa-vk"></i></a></li>
    </ul>
  </div>
<div class="type-toggle nav nav-tabs nav-fill wow fadeInLeft  animated" data-wow-duration="0.7s" data-wow-delay="1s" id="nav-tab" role="tablist" style="visibility: visible; animation-duration: 0.7s; animation-delay: 1s; animation-name: fadeInLeft;">
        <a class="type-icon active" id="nav-shirts-tab" data-toggle="tab" href="http://id.sportego.ru/#shirts-tab" role="tab" aria-controls="nav-home" aria-selected="true" data-placement="top" title="Tooltip on top"><!--?xml version="1.0" encoding="utf-8"?-->
<!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
<style type="text/css">
	.Drop_x0020_Shadow{fill:none;}
	.Outer_x0020_Glow_x0020_5_x0020_pt{fill:none;}
	.Blue_x0020_Neon{fill:none;stroke:#8AACDA;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;}
	.Chrome_x0020_Highlight{fill:url(#SVGID_1_);stroke:#FFFFFF;stroke-width:0.3629;stroke-miterlimit:1;}
	.Jive_GS{fill:#FFDD00;}
	.Alyssa_GS{fill:#A6D0E4;}
	.st0{fill:#06823F;}
</style>
<lineargradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="6.123234e-17" y2="-1">
	<stop offset="0" style="stop-color:#656565"></stop>
	<stop offset="0.618" style="stop-color:#1B1B1B"></stop>
	<stop offset="0.6292" style="stop-color:#545454"></stop>
	<stop offset="0.9831" style="stop-color:#3E3E3E"></stop>
</lineargradient>
<path class="st0" d="M280.5,129.2c1.2-19.1,3.7-38,6.2-57c2.8-21.4,5-42.7,4.3-64.3c-0.1-2.9-1.2-3.7-3.9-3.6
	c-6.3,0.1-12.5,0-18.8,0c0,0,0,0,0,0c-6.6,0-13.2,0-19.8,0c-2,0-3.2,0.5-3.2,2.9c0.4,10.7-0.5,21.4,0.6,32.1
	c3.2,28.4,6.2,56.8,9.4,85.2c1.6,14.2-0.8,27.2-10.7,38.1c-5.4,6-11.9,10.5-18.9,14.5c-3.1,1.8-6.3,3.6-8.9,6.2
	c-2.2,2.2-3,4.8-1.8,7.8c1.1,2.8,3.5,3.6,6.3,3.8c5.4,0.4,10.4-1.2,15.2-3.1c13.8-5.4,27.1-12.3,41.7-15.6c0.5-0.1,1.1-0.4,1.6-0.6
	c7.7-3.4,10.7-11.5,6.4-18.7C281.1,148.2,279.9,138.9,280.5,129.2z M251.1,7.9c11.4,0,22.7,0,34.1,0c1.5,0,2.2,0.3,2.3,2
	c0,2.1-1.2,1.8-2.4,1.8c-5.7,0-11.4,0-17.1,0c0,0,0,0,0,0c-5.6,0-11.1,0-16.7,0c-1.3,0-2.4,0.2-2.4-1.8
	C248.8,8.1,249.6,7.9,251.1,7.9z M287.3,20c0.1,2.1-1.6,1.5-2.7,1.5c-5.5,0.1-10.9,0-16.4,0c-5.7,0-11.4,0-17.1,0
	c-1,0-2.4,0.5-2.4-1.4c0-1.9,1.5-1.4,2.5-1.4c11.1,0,22.3,0,33.4,0C285.8,18.7,287.3,18.2,287.3,20z M248.8,30.5
	c0-1.9,0.9-1.9,2.3-1.9c11.4,0,22.7,0,34.1,0c1.5,0,2.3,0.2,2.3,2c0,2-1.2,1.8-2.5,1.8c-5.7,0-11.4,0-17,0c0,0,0,0,0,0
	c-5.6,0-11.1,0-16.7,0C249.9,32.3,248.8,32.5,248.8,30.5z M254.8,69.6c-1.5,0-1.9-0.5-2.1-1.9c-1.1-9.8-2.2-19.6-3.4-29.4
	c-0.2-1.8,0.2-2.4,2.1-2.3c5.6,0.1,11.1,0,16.7,0c5.5,0,10.9,0.1,16.4,0c2,0,2.9,0.3,2.6,2.6c-1.2,9.8-2.3,19.6-3.4,29.4
	c-0.2,1.4-0.7,1.7-1.9,1.7C272.8,69.5,263.8,69.5,254.8,69.6z M221.8,191.5c-1.6-0.1-3-0.4-3.6-2c-0.5-1.5,0.3-2.6,1.3-3.6
	c2.6-2.6,5.9-4.3,9-6.2c1.1-0.7,1.6-0.3,2.1,0.6c1.7,2.7,3.4,5.3,5.2,8.1C231.1,190,226.7,191.7,221.8,191.5z M271.1,174.7
	c-10.2,2.2-19.4,6.9-28.8,11.1c-2.3,1-3.6,0.9-4.8-1.4c-1.2-2.4-4.1-4.6-4-6.9c0-2.5,3.8-3.4,5.9-5c16-12.5,22.1-28.9,19.5-48.8
	c-0.7-5.5-1.1-11.1-1.8-16.6c-0.3-2.3,0.2-3.3,2.7-3.1c2.8,0.2,5.7,0.1,8.5,0.1c3,0,5.9,0.1,8.9,0c1.7-0.1,2.1,0.4,1.9,2.1
	c-0.7,6.6-1.3,13.1-1.9,19.7c-0.8,8.7-0.4,17.3,2.5,25.6c0.3,0.9,0.6,1.6-0.2,2.4c-4.4,5.2-6,11.4-6.3,18
	C273.2,173.4,272.8,174.4,271.1,174.7z M276.7,172.9c0.1-6.2,1.5-11.6,5.2-16.4C286.9,163.6,285,169.8,276.7,172.9z"></path>
<path class="st0" d="M294.6,135.6c1.1-18.1,3.8-36,5.8-54c1.9-17.4,5.3-34.7,4.5-52.3c0-2.7,0-5.5,0-8.2c0-10.3,0-10.3-10.2-9.7
	c-0.1,0-0.2,0-0.3,0c-1.4-0.1-1.7,0.5-1.7,1.8c0,1.4,0.6,1.8,1.8,1.7c1.7-0.1,3.4,0.1,5.1,0c1.5-0.1,1.9,0.5,1.9,1.9
	c0,1.6-0.7,1.9-2,1.8c-1.1-0.1-2.3,0.1-3.4,0c-2.5-0.3-3.5,0.4-3.5,3.3c0,3,0.6,4.5,3.9,3.9c1.1-0.2,2.3,0,3.4,0
	c1,0,1.7,0.1,1.7,1.5c0,1.4-0.9,1.4-1.8,1.3c-1.4,0-2.8,0.1-4.1,0c-2.4-0.3-2.9,0.7-3,3c-0.2,3.3,0.7,4.6,4,4c0.9-0.2,1.8,0,2.7,0
	c1.5-0.1,2.2,0.1,2.2,2c0,1.8-0.8,2-2.3,2c-1.7-0.1-3.4,0.1-5.1,0c-1.8-0.1-1.7,1-1.8,2.2c-0.2,1.5,0.8,1.4,1.7,1.4
	c1.8,0,3.6,0.1,5.5,0c1.5-0.1,2,0.4,1.8,2c-1,8.2-1.8,16.5-2.9,24.7c-0.8,6.4-1,6.4-7.3,6.4c-2.1,0-3,0.4-3.2,2.7
	c-0.8,8.4-1.9,16.7-2.9,25.1c-0.8,6.8-0.8,6.8,6,6.9c1.9,0,2.6,0.4,2.3,2.5c-0.7,5.2-1.2,10.4-1.7,15.6c-0.8,10-1.4,20,2.2,29.7
	c0.3,0.9,0.5,1.6-0.3,2.5c-4.4,5.3-5.9,11.7-6.3,18.4c-0.1,1.4-0.6,2-1.9,2.3c-9.2,2-17.6,6-26.1,9.8c-1.8,0.8-3.5,2-5.3,2.1
	c-2.2,0.1-2.4-2.6-3.6-4c-1.1-1.4-2-0.4-3,0c-1.2,0.5-0.4,1.2,0,1.9c2.2,4,2.2,4-2.3,5.4c-2.4,0.7-4.8,1.4-7.3,1.5
	c-2,0.1-4.2,0.2-5.2-2.2c-0.6-1.4-1.7-0.6-2.6-0.4c-1.4,0.4-0.8,1.4-0.4,2.2c1.2,2.8,4.6,4.3,8.8,3.9c5.3-0.5,10.2-2.2,15.1-4.2
	c12.6-5.2,24.8-11.2,38.2-14.4c1.2-0.3,2.3-0.9,3.5-1.4c6.8-3.4,9.8-11.1,5.8-17.5C295.1,155.4,294,145.7,294.6,135.6z M290.6,179.8
	c0.4-5.3,1.4-10.2,4.1-14.5c0.9-1.5,1.5-2,2.6,0C300.7,171.4,298,177.6,290.6,179.8z"></path>
<path class="st0" d="M293.9,238.3c-1.4,12.4-2.8,24.8-4.1,37.2c-0.6,5.6-1,11.2-1.5,16.8c-0.4,4.1-2.4,6.5-6.9,7.4
	c-3.7,0.8-7.5,1.4-11.2,1.3c-19.7-0.4-38.9-3.8-57.8-9.4c-5.2-1.5-5.3-1.8-5-7c1.2-17.6,2.4-35.2,3.9-52.8c1.1-13,2.5-26,4.2-38.9
	c2.7-19.7,5.7-39.4,12.7-58.2c1.7-4.5,2.5-9.2,3.8-13.8c0.9-3,2.6-4.3,6.1-4c17.8,1.3,35.7,3.3,53.5,3.3c18.9,0,37.8-1.7,56.6-3
	c8.4-0.6,9.7-0.6,10.4,7.9c1,12.8,7.4,24,9.2,36.5c1.6,11.2,3.7,22.4,5.2,33.6c2.1,16,4.2,32,5.8,48.1c1.4,14,2.1,28.1,3.2,42.2
	c0.2,3.2-1,5-4.1,6.1c-12.2,4.3-24.8,6.6-37.6,7.7c-9.3,0.8-18.7,0.7-28.1,0.8c-2.1,0-4.3-0.7-6.3-1.4c-3.1-1-4.6-3.2-5-6.6
	c-2-17.9-4.1-35.7-6.3-53.5C294.4,238.3,294.1,238.3,293.9,238.3z M357.5,138.3c-42.2,8.3-84.3,3.5-126.7-0.6
	c-1.9,6.1-4.5,12.1-5.5,18.3c-3.6,22.2-6.9,44.5-9.8,66.9c-1.8,13.9-2.6,27.8-4,41.7c-0.3,2.5,0.3,3.7,2.8,4.4
	c14.8,4.7,29.8,8.3,45.3,9.4c8,0.6,16-0.1,24-0.2c1.6,0,2.7-0.5,2.9-2.5c0.3-4.7,0.8-9.4,1.4-14c1.5-11.8,2.9-23.6,4.6-35.4
	c0.1-1,1.4-1.9,2.2-2.9c0.7,1,1.8,2,2,3c1.9,16.2,3.8,32.3,5.5,48.5c0.2,2.2,0.9,3.1,3.3,3.4c11.5,1.2,23,1.2,34.3-1
	c12-2.3,23.8-5.5,35.7-8.3c1.8-0.4,2.5-1.4,2.2-3.5c-0.6-4.4-0.7-8.9-1.2-13.4c-3.3-26.6-6.6-53.2-10.1-79.7
	C364.8,160.7,362,149.2,357.5,138.3z M347.5,138.1c-1-5.1-2-9.8-2.9-14.5c-0.4-2.3-1.6-2.7-3.9-2.5c-12.7,1-25.4,2.4-38.1,2.3
	c-18.1-0.1-36.2-1.5-54.3-2.3c-1.1,0-2.9,0.8-3.1,1.5c-1.2,4.5-2.1,9-3.2,14C277.2,140.1,311.8,142.7,347.5,138.1z M211.3,269.1
	c-0.3,4.8-0.3,9.3-0.8,13.7c-0.4,3.7,1,5.5,4.5,6.2c14.8,2.7,29.6,5.9,44.5,8.1c6.7,0.9,13.7,0,20.5-0.6c1.6-0.1,4.2-1.9,4.5-3.4
	c1-4.4,1.1-9,1.5-13.9C260.1,282,235.7,276.8,211.3,269.1z M378,269.2c-24.8,7.9-49.4,12.9-75.3,9.8c0.5,3.9,0.9,7.1,1.3,10.4
	c0.7,5.4,1.4,6.1,6.9,7c0.7,0.1,1.4,0.2,2.1,0.2c11.5-0.6,23.1-0.5,34.5-1.9c9.6-1.2,18.9-4.1,28.4-6.2c2.1-0.5,3-1.6,2.9-3.9
	C378.4,279.7,378.3,274.8,378,269.2z M345.3,121.1c0.8,4.9,1.6,9.7,2.6,14.4c0.1,0.7,1.1,1.3,1.7,2c0.5-0.8,1.4-1.7,1.3-2.5
	c-0.5-3.9-1.3-7.8-2-11.8C348.5,121,347.3,120.1,345.3,121.1z M238,135.7c0.3,0.3,0.5,0.5,0.8,0.8c0.9-0.5,2.5-0.9,2.7-1.6
	c1-4.6,1.8-9.2,2.6-13.9c-1.8-0.7-3.1-0.4-3.5,1.7C239.7,127.1,238.8,131.4,238,135.7z M350.2,120.1c-0.2,0.2-0.4,0.5-0.6,0.7
	c0.7,4.7,1.4,9.4,2.3,14.1c0.1,0.6,1,1.2,1.5,1.7c0.3-0.6,1-1.3,0.9-1.9c-0.7-4.3-1.5-8.5-2.4-12.7
	C351.7,121.3,350.8,120.8,350.2,120.1z M239.8,119.9c-1,0.6-2,0.8-2.1,1.3c-1,4.5-1.9,8.9-2.7,13.4c-0.1,0.4,0.7,0.9,1.1,1.4
	c0.4-0.4,1.1-0.8,1.2-1.3C238.2,129.9,238.9,125.2,239.8,119.9z M355.8,135.9c0.4-0.1,0.7-0.1,1.1-0.2c-1.2-5.1-0.1-10.7-3.1-15.4
	c-0.3,0.1-0.6,0.1-0.9,0.2C353.9,125.7,354.8,130.8,355.8,135.9z M236.4,121.4c-0.4-0.1-0.8-0.2-1.1-0.3c-1.2,4.7-2.4,9.4-3.5,14.1
	c0.5,0.1,1,0.3,1.5,0.4C235,131,234.8,126,236.4,121.4z"></path>
<path class="st0" d="M146.5,78.1c-2.3,5.8-2.9,11.1-2.8,16.5c0.2,14.4,0.4,28.8,0.7,43.2c0.3,15.9,0.6,31.8,1,47.7
	c0.1,2.1-0.9,3-2.6,3.3c-7.3,1.4-14.5,3.3-21.8,4c-18.3,1.8-36.6,1.5-54.7-1.8c-2.8-0.5-5.5-1.4-8.2-2.1c-2-0.5-2.7-1.7-2.7-3.8
	c0.6-23.3,1.1-46.5,1.5-69.8c0.1-7.3,0.2-14.5,0.2-21.8c0-5-0.6-9.9-3-14.7c-1.2,4.7-2.5,9.3-3.4,14c-0.5,2.5-1.4,3.3-4.1,2.8
	c-9.7-1.8-19.5-3.4-29.3-4.9c-2.2-0.3-2.6-1.3-2.2-3.2c2.7-11.3,5.2-22.7,8-34C27.1,38.1,37,28.1,52.1,23.4
	c9.6-3,17.7-8.2,24.6-15.5C78,6.5,79,6.3,80.8,7.1C93.8,13,107,13,120,7.1c1.7-0.8,2.8-0.6,4.1,0.8c6.9,7.2,14.9,12.5,24.6,15.5
	c15.4,4.8,25.3,15.1,29.1,30.9c2.7,11.1,5.1,22.2,7.8,33.3c0.6,2.3-0.2,2.9-2.3,3.3c-9.9,1.6-19.9,3.2-29.8,5
	c-1.9,0.3-2.7-0.2-3.1-2C149.2,88.8,147.9,83.8,146.5,78.1z M76.1,18.5c-6.6,5.7-14,9.3-22.1,11.7C42.8,33.7,35.3,41.1,31.5,52
	c-2,5.8-3.2,11.9-4.8,17.9c-1.1,4.3-2.1,8.7-3.2,13.2c8.7,1.5,17.1,3,25.7,4.4c0.9-3.8,1.7-7.4,2.7-11c0.4-1.3,1.2-2.5,1.9-3.8
	c0.9,1.2,2.2,2.2,2.8,3.5c2.9,6.3,3.4,13.1,3.3,20c-0.3,18.7-0.6,37.5-0.9,56.2c0,0.7,0.1,1.3,0.1,2c0.2,0,0.3,0.1,0.5,0.1
	c23.3-44,46.6-88.1,69.9-132.2c-1.7-1.3-3.2-2.5-4.7-3.7c-5.6,8.2-13.7,12.5-22.5,15.8c-1,0.4-2.5,0.3-3.5-0.1
	C89.8,31.2,81.7,26.8,76.1,18.5z M151.7,87.5c8.5-1.5,16.9-2.9,25.4-4.4c-2-8-3.7-15.9-5.9-23.6c-1.3-4.6-2.8-9.1-4.9-13.4
	c-2.4-5-6.3-8.9-11.3-12c-27,51.9-53.8,103.5-80.7,155.4c1,0.2,1.5,0.4,2,0.4c11.8,0.4,23.7,1.3,35.5,0.8c9.3-0.3,18.5-2.4,27.8-3.7
	c2.3-0.3,3.1-1.5,3-3.9c-0.4-11.2-0.5-22.5-0.7-33.7c-0.3-18.6-0.7-37.1-0.9-55.7c-0.1-6.6,0.9-13.1,4-19c0.4-0.8,1.4-1.3,2.2-2
	c0.5,0.8,1.2,1.5,1.4,2.3C149.6,79.2,150.6,83.3,151.7,87.5z M80.8,10.1c-0.2,0.2-0.4,0.4-0.6,0.6c1.1,2,1.9,4.1,3.3,5.9
	c4.1,5.4,9.9,8.4,15.9,11c0.5,0.2,1.3,0.3,1.8,0.1c6.9-2.8,13.3-6.2,17.4-12.7c0.8-1.3,1.2-2.9,2.1-5
	C106.9,15.6,93.8,15.6,80.8,10.1z M179.8,82.5c2.6,0,1.5-1.6,1.3-2.6c-1.8-7.9-3.8-15.8-5.6-23.7c-3.5-15.8-13.2-25.8-28.4-30.5
	c-6.8-2.1-12.8-5.3-18.3-9.8c-0.7-0.6-1.5-1.1-2.2-1.7c-0.3,0.2-0.5,0.4-0.8,0.7c0.6,0.9,1,1.9,1.8,2.6c5.8,4.8,12.5,7.9,19.6,10.1
	c8.3,2.5,15.1,7.2,20,14.4c3.3,4.9,5.3,10.3,6.6,16.1C175.8,66.2,177.8,74.3,179.8,82.5z M74.9,14.7c-0.3-0.2-0.5-0.4-0.8-0.6
	c-7,6.6-15.7,9.8-24.5,13.1c-12.2,4.6-20.2,13.4-23.5,26.1c-2.3,8.8-4.2,17.7-6.3,26.5c-0.2,0.8,0.1,1.7,0.1,2.6
	c0.5-0.7,1.2-1.3,1.4-2.1c1.9-7.4,3.7-14.7,5.4-22.1C30.4,42.4,39.2,31.5,55.3,27c6.7-1.9,12.7-5.2,18.1-9.7
	C74,16.6,74.4,15.6,74.9,14.7z M152.6,90.1c-0.2,2.6,0.8,3,2.7,2.6c5.1-0.9,10.3-1.7,15.4-2.6c4-0.7,8.1-1.4,12.3-2.2
	c-0.4-1.2-0.6-2-0.9-3C172.2,86.7,162.4,88.4,152.6,90.1z M48.5,90.2c-10.2-1.7-20-3.4-30-5.2c-0.2,1.3-0.3,2.1-0.5,3
	c10,1.7,19.8,3.3,29.8,5C48,92,48.2,91.3,48.5,90.2z M123.8,11c-1.7,2.9-2.9,5.6-4.7,7.8c-4.6,5.7-10.9,9.1-17.7,11.6
	c-0.5,0.2-1.3,0.3-1.8,0.1c-9.3-3.8-18.1-8.2-21.7-18.7c-0.1-0.2-0.4-0.3-0.6-0.4c-0.2,0.1-0.5,0.2-0.7,0.3c0.9,2.2,1.5,4.6,2.8,6.6
	c2.9,4.5,7.2,7.5,11.9,9.9c10.7,5.3,7.6,5.5,18.2-0.1c4.1-2.2,7.7-5.6,11.1-8.8C122.8,17.3,123.9,14.5,123.8,11z"></path>
</svg>
</a>
        <a class="type-icon" id="nav-shorts-tab" data-toggle="tab" href="http://id.sportego.ru/#shorts-tab" role="tab" aria-controls="nav-profile" aria-selected="false"><!--?xml version="1.0" encoding="utf-8"?-->
<!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
<style type="text/css">
	.Drop_x0020_Shadow{fill:none;}
	.Outer_x0020_Glow_x0020_5_x0020_pt{fill:none;}
	.Blue_x0020_Neon{fill:none;stroke:#8AACDA;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;}
	.Chrome_x0020_Highlight{fill:url(#SVGID_1_);stroke:#FFFFFF;stroke-width:0.3629;stroke-miterlimit:1;}
	.Jive_GS{fill:#FFDD00;}
	.Alyssa_GS{fill:#A6D0E4;}
	.st0{fill:#06823F;}
</style>
<lineargradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="6.123234e-17" y2="-1">
	<stop offset="0" style="stop-color:#656565"></stop>
	<stop offset="0.618" style="stop-color:#1B1B1B"></stop>
	<stop offset="0.6292" style="stop-color:#545454"></stop>
	<stop offset="0.9831" style="stop-color:#3E3E3E"></stop>
</lineargradient>
<path class="st0" d="M280.5,129.2c1.2-19.1,3.7-38,6.2-57c2.8-21.4,5-42.7,4.3-64.3c-0.1-2.9-1.2-3.7-3.9-3.6
	c-6.3,0.1-12.5,0-18.8,0c0,0,0,0,0,0c-6.6,0-13.2,0-19.8,0c-2,0-3.2,0.5-3.2,2.9c0.4,10.7-0.5,21.4,0.6,32.1
	c3.2,28.4,6.2,56.8,9.4,85.2c1.6,14.2-0.8,27.2-10.7,38.1c-5.4,6-11.9,10.5-18.9,14.5c-3.1,1.8-6.3,3.6-8.9,6.2
	c-2.2,2.2-3,4.8-1.8,7.8c1.1,2.8,3.5,3.6,6.3,3.8c5.4,0.4,10.4-1.2,15.2-3.1c13.8-5.4,27.1-12.3,41.7-15.6c0.5-0.1,1.1-0.4,1.6-0.6
	c7.7-3.4,10.7-11.5,6.4-18.7C281.1,148.2,279.9,138.9,280.5,129.2z M251.1,7.9c11.4,0,22.7,0,34.1,0c1.5,0,2.2,0.3,2.3,2
	c0,2.1-1.2,1.8-2.4,1.8c-5.7,0-11.4,0-17.1,0c0,0,0,0,0,0c-5.6,0-11.1,0-16.7,0c-1.3,0-2.4,0.2-2.4-1.8
	C248.8,8.1,249.6,7.9,251.1,7.9z M287.3,20c0.1,2.1-1.6,1.5-2.7,1.5c-5.5,0.1-10.9,0-16.4,0c-5.7,0-11.4,0-17.1,0
	c-1,0-2.4,0.5-2.4-1.4c0-1.9,1.5-1.4,2.5-1.4c11.1,0,22.3,0,33.4,0C285.8,18.7,287.3,18.2,287.3,20z M248.8,30.5
	c0-1.9,0.9-1.9,2.3-1.9c11.4,0,22.7,0,34.1,0c1.5,0,2.3,0.2,2.3,2c0,2-1.2,1.8-2.5,1.8c-5.7,0-11.4,0-17,0c0,0,0,0,0,0
	c-5.6,0-11.1,0-16.7,0C249.9,32.3,248.8,32.5,248.8,30.5z M254.8,69.6c-1.5,0-1.9-0.5-2.1-1.9c-1.1-9.8-2.2-19.6-3.4-29.4
	c-0.2-1.8,0.2-2.4,2.1-2.3c5.6,0.1,11.1,0,16.7,0c5.5,0,10.9,0.1,16.4,0c2,0,2.9,0.3,2.6,2.6c-1.2,9.8-2.3,19.6-3.4,29.4
	c-0.2,1.4-0.7,1.7-1.9,1.7C272.8,69.5,263.8,69.5,254.8,69.6z M221.8,191.5c-1.6-0.1-3-0.4-3.6-2c-0.5-1.5,0.3-2.6,1.3-3.6
	c2.6-2.6,5.9-4.3,9-6.2c1.1-0.7,1.6-0.3,2.1,0.6c1.7,2.7,3.4,5.3,5.2,8.1C231.1,190,226.7,191.7,221.8,191.5z M271.1,174.7
	c-10.2,2.2-19.4,6.9-28.8,11.1c-2.3,1-3.6,0.9-4.8-1.4c-1.2-2.4-4.1-4.6-4-6.9c0-2.5,3.8-3.4,5.9-5c16-12.5,22.1-28.9,19.5-48.8
	c-0.7-5.5-1.1-11.1-1.8-16.6c-0.3-2.3,0.2-3.3,2.7-3.1c2.8,0.2,5.7,0.1,8.5,0.1c3,0,5.9,0.1,8.9,0c1.7-0.1,2.1,0.4,1.9,2.1
	c-0.7,6.6-1.3,13.1-1.9,19.7c-0.8,8.7-0.4,17.3,2.5,25.6c0.3,0.9,0.6,1.6-0.2,2.4c-4.4,5.2-6,11.4-6.3,18
	C273.2,173.4,272.8,174.4,271.1,174.7z M276.7,172.9c0.1-6.2,1.5-11.6,5.2-16.4C286.9,163.6,285,169.8,276.7,172.9z"></path>
<path class="st0" d="M294.6,135.6c1.1-18.1,3.8-36,5.8-54c1.9-17.4,5.3-34.7,4.5-52.3c0-2.7,0-5.5,0-8.2c0-10.3,0-10.3-10.2-9.7
	c-0.1,0-0.2,0-0.3,0c-1.4-0.1-1.7,0.5-1.7,1.8c0,1.4,0.6,1.8,1.8,1.7c1.7-0.1,3.4,0.1,5.1,0c1.5-0.1,1.9,0.5,1.9,1.9
	c0,1.6-0.7,1.9-2,1.8c-1.1-0.1-2.3,0.1-3.4,0c-2.5-0.3-3.5,0.4-3.5,3.3c0,3,0.6,4.5,3.9,3.9c1.1-0.2,2.3,0,3.4,0
	c1,0,1.7,0.1,1.7,1.5c0,1.4-0.9,1.4-1.8,1.3c-1.4,0-2.8,0.1-4.1,0c-2.4-0.3-2.9,0.7-3,3c-0.2,3.3,0.7,4.6,4,4c0.9-0.2,1.8,0,2.7,0
	c1.5-0.1,2.2,0.1,2.2,2c0,1.8-0.8,2-2.3,2c-1.7-0.1-3.4,0.1-5.1,0c-1.8-0.1-1.7,1-1.8,2.2c-0.2,1.5,0.8,1.4,1.7,1.4
	c1.8,0,3.6,0.1,5.5,0c1.5-0.1,2,0.4,1.8,2c-1,8.2-1.8,16.5-2.9,24.7c-0.8,6.4-1,6.4-7.3,6.4c-2.1,0-3,0.4-3.2,2.7
	c-0.8,8.4-1.9,16.7-2.9,25.1c-0.8,6.8-0.8,6.8,6,6.9c1.9,0,2.6,0.4,2.3,2.5c-0.7,5.2-1.2,10.4-1.7,15.6c-0.8,10-1.4,20,2.2,29.7
	c0.3,0.9,0.5,1.6-0.3,2.5c-4.4,5.3-5.9,11.7-6.3,18.4c-0.1,1.4-0.6,2-1.9,2.3c-9.2,2-17.6,6-26.1,9.8c-1.8,0.8-3.5,2-5.3,2.1
	c-2.2,0.1-2.4-2.6-3.6-4c-1.1-1.4-2-0.4-3,0c-1.2,0.5-0.4,1.2,0,1.9c2.2,4,2.2,4-2.3,5.4c-2.4,0.7-4.8,1.4-7.3,1.5
	c-2,0.1-4.2,0.2-5.2-2.2c-0.6-1.4-1.7-0.6-2.6-0.4c-1.4,0.4-0.8,1.4-0.4,2.2c1.2,2.8,4.6,4.3,8.8,3.9c5.3-0.5,10.2-2.2,15.1-4.2
	c12.6-5.2,24.8-11.2,38.2-14.4c1.2-0.3,2.3-0.9,3.5-1.4c6.8-3.4,9.8-11.1,5.8-17.5C295.1,155.4,294,145.7,294.6,135.6z M290.6,179.8
	c0.4-5.3,1.4-10.2,4.1-14.5c0.9-1.5,1.5-2,2.6,0C300.7,171.4,298,177.6,290.6,179.8z"></path>
<path class="st0" d="M98.9,130.3c-1.4,12.4-2.8,24.8-4.1,37.2c-0.6,5.6-1,11.2-1.5,16.8c-0.4,4.1-2.4,6.5-6.9,7.4
	c-3.7,0.8-7.5,1.4-11.2,1.3c-19.7-0.4-38.9-3.8-57.8-9.4c-5.2-1.5-5.3-1.8-5-7c1.2-17.6,2.4-35.2,3.9-52.8c1.1-13,2.5-26,4.2-38.9
	c2.7-19.7,5.7-39.4,12.7-58.2c1.7-4.5,2.5-9.2,3.8-13.8c0.9-3,2.6-4.3,6.1-4c17.8,1.3,35.7,3.3,53.5,3.3c18.9,0,37.8-1.7,56.6-3
	c8.4-0.6,9.7-0.6,10.4,7.9c1,12.8,7.4,24,9.2,36.5c1.6,11.2,3.7,22.4,5.2,33.6c2.1,16,4.2,32,5.8,48.1c1.4,14,2.1,28.1,3.2,42.2
	c0.2,3.2-1,5-4.1,6.1c-12.2,4.3-24.8,6.6-37.6,7.7c-9.3,0.8-18.7,0.7-28.1,0.8c-2.1,0-4.3-0.7-6.3-1.4c-3.1-1-4.6-3.2-5-6.6
	c-2-17.9-4.1-35.7-6.3-53.5C99.4,130.3,99.1,130.3,98.9,130.3z M162.5,30.3c-42.2,8.3-84.3,3.5-126.7-0.6
	c-1.9,6.1-4.5,12.1-5.5,18.3c-3.6,22.2-6.9,44.5-9.8,66.9c-1.8,13.9-2.6,27.8-4,41.7c-0.3,2.5,0.3,3.7,2.8,4.4
	c14.8,4.7,29.8,8.3,45.3,9.4c8,0.6,16-0.1,24-0.2c1.6,0,2.7-0.5,2.9-2.5c0.3-4.7,0.8-9.4,1.4-14c1.5-11.8,2.9-23.6,4.6-35.4
	c0.1-1,1.4-1.9,2.2-2.9c0.7,1,1.8,2,2,3c1.9,16.2,3.8,32.3,5.5,48.5c0.2,2.2,0.9,3.1,3.3,3.4c11.5,1.2,23,1.2,34.3-1
	c12-2.3,23.8-5.5,35.7-8.3c1.8-0.4,2.5-1.4,2.2-3.5c-0.6-4.4-0.7-8.9-1.2-13.4c-3.3-26.6-6.6-53.2-10.1-79.7
	C169.8,52.7,167,41.2,162.5,30.3z M152.5,30.1c-1-5.1-2-9.8-2.9-14.5c-0.4-2.3-1.6-2.7-3.9-2.5c-12.7,1-25.4,2.4-38.1,2.3
	c-18.1-0.1-36.2-1.5-54.3-2.3c-1.1,0-2.9,0.8-3.1,1.5c-1.2,4.5-2.1,9-3.2,14C82.2,32.1,116.8,34.7,152.5,30.1z M16.3,161.1
	c-0.3,4.8-0.3,9.3-0.8,13.7c-0.4,3.7,1,5.5,4.5,6.2c14.8,2.7,29.6,5.9,44.5,8.1c6.7,0.9,13.7,0,20.5-0.6c1.6-0.1,4.2-1.9,4.5-3.4
	c1-4.4,1.1-9,1.5-13.9C65.1,174,40.7,168.8,16.3,161.1z M183,161.2c-24.8,7.9-49.4,12.9-75.3,9.8c0.5,3.9,0.9,7.1,1.3,10.4
	c0.7,5.4,1.4,6.1,6.9,7c0.7,0.1,1.4,0.2,2.1,0.2c11.5-0.6,23.1-0.5,34.5-1.9c9.6-1.2,18.9-4.1,28.4-6.2c2.1-0.5,3-1.6,2.9-3.9
	C183.4,171.7,183.3,166.8,183,161.2z M150.3,13.1c0.8,4.9,1.6,9.7,2.6,14.4c0.1,0.7,1.1,1.3,1.7,2c0.5-0.8,1.4-1.7,1.3-2.5
	c-0.5-3.9-1.3-7.8-2-11.8C153.5,13,152.3,12.1,150.3,13.1z M43,27.7c0.3,0.3,0.5,0.5,0.8,0.8c0.9-0.5,2.5-0.9,2.7-1.6
	c1-4.6,1.8-9.2,2.6-13.9c-1.8-0.7-3.1-0.4-3.5,1.7C44.7,19.1,43.8,23.4,43,27.7z M155.2,12.1c-0.2,0.2-0.4,0.5-0.6,0.7
	c0.7,4.7,1.4,9.4,2.3,14.1c0.1,0.6,1,1.2,1.5,1.7c0.3-0.6,1-1.3,0.9-1.9c-0.7-4.3-1.5-8.5-2.4-12.7
	C156.7,13.3,155.8,12.8,155.2,12.1z M44.8,11.9c-1,0.6-2,0.8-2.1,1.3c-1,4.5-1.9,8.9-2.7,13.4c-0.1,0.4,0.7,0.9,1.1,1.4
	c0.4-0.4,1.1-0.8,1.2-1.3C43.2,21.9,43.9,17.2,44.8,11.9z M160.8,27.9c0.4-0.1,0.7-0.1,1.1-0.2c-1.2-5.1-0.1-10.7-3.1-15.4
	c-0.3,0.1-0.6,0.1-0.9,0.2C158.9,17.7,159.8,22.8,160.8,27.9z M41.4,13.4c-0.4-0.1-0.8-0.2-1.1-0.3c-1.2,4.7-2.4,9.4-3.5,14.1
	c0.5,0.1,1,0.3,1.5,0.4C40,23,39.8,18,41.4,13.4z"></path>
</svg>
</a>
        <a class="type-icon" id="nav-gaiters-tab" data-toggle="tab" href="http://id.sportego.ru/#gaiters-tab" role="tab" aria-controls="nav-profile" aria-selected="false"><!--?xml version="1.0" encoding="utf-8"?-->
<!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
<style type="text/css">
	.Drop_x0020_Shadow{fill:none;}
	.Outer_x0020_Glow_x0020_5_x0020_pt{fill:none;}
	.Blue_x0020_Neon{fill:none;stroke:#8AACDA;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;}
	.Chrome_x0020_Highlight{fill:url(#SVGID_1_);stroke:#FFFFFF;stroke-width:0.3629;stroke-miterlimit:1;}
	.Jive_GS{fill:#FFDD00;}
	.Alyssa_GS{fill:#A6D0E4;}
	.st0{fill:#06823F;}
</style>
<lineargradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="6.123234e-17" y2="-1">
	<stop offset="0" style="stop-color:#656565"></stop>
	<stop offset="0.618" style="stop-color:#1B1B1B"></stop>
	<stop offset="0.6292" style="stop-color:#545454"></stop>
	<stop offset="0.9831" style="stop-color:#3E3E3E"></stop>
</lineargradient>
<path class="st0" d="M113.5,126.2c1.2-19.1,3.7-38,6.2-57c2.8-21.4,5-42.7,4.3-64.3c-0.1-2.9-1.2-3.7-3.9-3.6
	c-6.3,0.1-12.5,0-18.8,0c0,0,0,0,0,0c-6.6,0-13.2,0-19.8,0c-2,0-3.2,0.5-3.2,2.9c0.4,10.7-0.5,21.4,0.6,32.1
	c3.2,28.4,6.2,56.8,9.4,85.2c1.6,14.2-0.8,27.2-10.7,38.1c-5.4,6-11.9,10.5-18.9,14.5c-3.1,1.8-6.3,3.6-8.9,6.2
	c-2.2,2.2-3,4.8-1.8,7.8c1.1,2.8,3.5,3.6,6.3,3.8c5.4,0.4,10.4-1.2,15.2-3.1c13.8-5.4,27.1-12.3,41.7-15.6c0.5-0.1,1.1-0.4,1.6-0.6
	c7.7-3.4,10.7-11.5,6.4-18.7C114.1,145.2,112.9,135.9,113.5,126.2z M84.1,4.9c11.4,0,22.7,0,34.1,0c1.5,0,2.2,0.3,2.3,2
	c0,2.1-1.2,1.8-2.4,1.8c-5.7,0-11.4,0-17.1,0c0,0,0,0,0,0c-5.6,0-11.1,0-16.7,0c-1.3,0-2.4,0.2-2.4-1.8C81.8,5.1,82.6,4.9,84.1,4.9z
	 M120.3,17c0.1,2.1-1.6,1.5-2.7,1.5c-5.5,0.1-10.9,0-16.4,0c-5.7,0-11.4,0-17.1,0c-1,0-2.4,0.5-2.4-1.4c0-1.9,1.5-1.4,2.5-1.4
	c11.1,0,22.3,0,33.4,0C118.8,15.7,120.3,15.2,120.3,17z M81.8,27.5c0-1.9,0.9-1.9,2.3-1.9c11.4,0,22.7,0,34.1,0c1.5,0,2.3,0.2,2.3,2
	c0,2-1.2,1.8-2.5,1.8c-5.7,0-11.4,0-17,0c0,0,0,0,0,0c-5.6,0-11.1,0-16.7,0C82.9,29.3,81.8,29.5,81.8,27.5z M87.8,66.6
	c-1.5,0-1.9-0.5-2.1-1.9c-1.1-9.8-2.2-19.6-3.4-29.4c-0.2-1.8,0.2-2.4,2.1-2.3c5.6,0.1,11.1,0,16.7,0c5.5,0,10.9,0.1,16.4,0
	c2,0,2.9,0.3,2.6,2.6c-1.2,9.8-2.3,19.6-3.4,29.4c-0.2,1.4-0.7,1.7-1.9,1.7C105.8,66.5,96.8,66.5,87.8,66.6z M54.8,188.5
	c-1.6-0.1-3-0.4-3.6-2c-0.5-1.5,0.3-2.6,1.3-3.6c2.6-2.6,5.9-4.3,9-6.2c1.1-0.7,1.6-0.3,2.1,0.6c1.7,2.7,3.4,5.3,5.2,8.1
	C64.1,187,59.7,188.7,54.8,188.5z M104.1,171.7c-10.2,2.2-19.4,6.9-28.8,11.1c-2.3,1-3.6,0.9-4.8-1.4c-1.2-2.4-4.1-4.6-4-6.9
	c0-2.5,3.8-3.4,5.9-5c16-12.5,22.1-28.9,19.5-48.8c-0.7-5.5-1.1-11.1-1.8-16.6c-0.3-2.3,0.2-3.3,2.7-3.1c2.8,0.2,5.7,0.1,8.5,0.1
	c3,0,5.9,0.1,8.9,0c1.7-0.1,2.1,0.4,1.9,2.1c-0.7,6.6-1.3,13.1-1.9,19.7c-0.8,8.7-0.4,17.3,2.5,25.6c0.3,0.9,0.6,1.6-0.2,2.4
	c-4.4,5.2-6,11.4-6.3,18C106.2,170.4,105.8,171.4,104.1,171.7z M109.7,169.9c0.1-6.2,1.5-11.6,5.2-16.4
	C119.9,160.6,118,166.8,109.7,169.9z"></path>
<path class="st0" d="M127.6,132.6c1.1-18.1,3.8-36,5.8-54c1.9-17.4,5.3-34.7,4.5-52.3c0-2.7,0-5.5,0-8.2c0-10.3,0-10.3-10.2-9.7
	c-0.1,0-0.2,0-0.3,0c-1.4-0.1-1.7,0.5-1.7,1.8c0,1.4,0.6,1.8,1.8,1.7c1.7-0.1,3.4,0.1,5.1,0c1.5-0.1,1.9,0.5,1.9,1.9
	c0,1.6-0.7,1.9-2,1.8c-1.1-0.1-2.3,0.1-3.4,0c-2.5-0.3-3.5,0.4-3.5,3.3c0,3,0.6,4.5,3.9,3.9c1.1-0.2,2.3,0,3.4,0
	c1,0,1.7,0.1,1.7,1.5c0,1.4-0.9,1.4-1.8,1.3c-1.4,0-2.8,0.1-4.1,0c-2.4-0.3-2.9,0.7-3,3c-0.2,3.3,0.7,4.6,4,4c0.9-0.2,1.8,0,2.7,0
	c1.5-0.1,2.2,0.1,2.2,2c0,1.8-0.8,2-2.3,2c-1.7-0.1-3.4,0.1-5.1,0c-1.8-0.1-1.7,1-1.8,2.2c-0.2,1.5,0.8,1.4,1.7,1.4
	c1.8,0,3.6,0.1,5.5,0c1.5-0.1,2,0.4,1.8,2c-1,8.2-1.8,16.5-2.9,24.7c-0.8,6.4-1,6.4-7.3,6.4c-2.1,0-3,0.4-3.2,2.7
	c-0.8,8.4-1.9,16.7-2.9,25.1c-0.8,6.8-0.8,6.8,6,6.9c1.9,0,2.6,0.4,2.3,2.5c-0.7,5.2-1.2,10.4-1.7,15.6c-0.8,10-1.4,20,2.2,29.7
	c0.3,0.9,0.5,1.6-0.3,2.5c-4.4,5.3-5.9,11.7-6.3,18.4c-0.1,1.4-0.6,2-1.9,2.3c-9.2,2-17.6,6-26.1,9.8c-1.8,0.8-3.5,2-5.3,2.1
	c-2.2,0.1-2.4-2.6-3.6-4c-1.1-1.4-2-0.4-3,0c-1.2,0.5-0.4,1.2,0,1.9c2.2,4,2.2,4-2.3,5.4c-2.4,0.7-4.8,1.4-7.3,1.5
	c-2,0.1-4.2,0.2-5.2-2.2c-0.6-1.4-1.7-0.6-2.6-0.4c-1.4,0.4-0.8,1.4-0.4,2.2c1.2,2.8,4.6,4.3,8.8,3.9c5.3-0.5,10.2-2.2,15.1-4.2
	c12.6-5.2,24.8-11.2,38.2-14.4c1.2-0.3,2.3-0.9,3.5-1.4c6.8-3.4,9.8-11.1,5.8-17.5C128.1,152.4,127,142.7,127.6,132.6z M123.6,176.8
	c0.4-5.3,1.4-10.2,4.1-14.5c0.9-1.5,1.5-2,2.6,0C133.7,168.4,131,174.6,123.6,176.8z"></path>
</svg>
</a>
        <a class="type-icon" id="nav-overall-tab" data-toggle="tab" href="http://id.sportego.ru/#overall-tab" role="tab" aria-controls="nav-profile" aria-selected="false"><!--?xml version='1.0' encoding='iso-8859-1'?-->

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 399.6 399.6" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 399.6 399.6">
  <path class="st0" d="m393.801,71.244c-1.424-1.605-3.466-2.523-5.611-2.523h-315.626l-3.749-31.158c-2.576-21.414-20.784-37.563-42.353-37.563h-15.052c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h15.052c13.985,0 25.791,10.47 27.461,24.355l30.521,253.638c2.682,22.282 21.628,39.085 44.07,39.085h29.225l-3.193,6.047c-2.406-0.597-4.918-0.919-7.506-0.919-17.202,0-31.196,13.995-31.196,31.197s13.994,31.197 31.196,31.197 31.197-13.995 31.197-31.197c0-9.235-4.037-17.542-10.436-23.259l6.899-13.066h154.745l-3.193,6.047c-2.406-0.597-4.918-0.919-7.506-0.919-17.202,0-31.197,13.995-31.197,31.197s13.995,31.197 31.197,31.197 31.197-13.995 31.197-31.197c0-9.235-4.037-17.542-10.436-23.259l6.899-13.066h6.238c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-224.131c-14.858,0-27.402-11.125-29.178-25.877l-4.151-34.493h272.19c3.796,0 6.993-2.835 7.446-6.604l20.815-172.987c0.257-2.13-0.411-4.268-1.834-5.873zm-230.564,297.159c0,8.931-7.266,16.197-16.197,16.197-8.931,0-16.196-7.266-16.196-16.197s7.266-16.197 16.196-16.197c0.023,0 0.046,0.003 0.069,0.003l-6.701,12.691c-1.935,3.663-0.533,8.2 3.13,10.134 1.117,0.59 2.314,0.869 3.495,0.869 2.692,0 5.295-1.454 6.639-4l6.697-12.683c1.804,2.613 2.868,5.775 2.868,9.183zm171.707,0c0,8.931-7.266,16.197-16.197,16.197s-16.197-7.266-16.197-16.197 7.266-16.197 16.197-16.197c0.023,0 0.046,0.003 0.069,0.003l-6.701,12.691c-1.935,3.663-0.533,8.2 3.13,10.134 1.117,0.59 2.314,0.869 3.495,0.869 2.692,0 5.295-1.454 6.639-4l6.697-12.683c1.804,2.613 2.868,5.775 2.868,9.183zm-137.839-284.682h59.893l-4.443,157.987h-51.006l-4.444-157.987zm-10.562,157.987h-43.356l-12.302-157.987h51.214l4.444,157.987zm85.461-157.987h51.214l-12.302,157.987h-43.356l4.444-157.987zm-197.634,0h41.469l12.302,157.987h-34.761l-19.01-157.987zm286.353,157.987h-34.761l12.302-157.987h41.469l-19.01,157.987z"></path>
</svg>
</a>
      </div>

  {{{body}}}

  
</body>

</html>
