<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Athletic Wear Constructor</title>
</head>
<body>
  <header>
    <div class="contacts">
        <ul>
          <li><a href="http://id.sportego.ru/#dostavka" data-toggle="modal">Доставка</a></li>
          <li><a href="http://id.sportego.ru/#oplata" data-toggle="modal">Оплата</a></li>
          <li><a href="http://id.sportego.ru/#contacts" data-toggle="modal">Контакты</a></li>
          <li><a href="https://www.instagram.com/sportego_/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://vk.com/sportego" target="_blank"><i class="fab fa-vk"></i></a></li>
        </ul>
      </div>
  </header>

  {{{body}}}

  <footer> 
    <div>i'm footer</div>
  </footer>
</body>
</html>
