<div class="item carousel-item item-short animated fadeIn slow active">
  <div class="position-bg"></div>
  <div class="wrap col-sm-5 justify-content-center" data-id="48" data-price="900" data-price2="450">
    <div class="svg-img short1"><svg class="short1" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 480 458.6"
        style="enable-background:new 0 0 480 458.6;" xml:space="preserve">
        <g id="Слой_x0020_1">
          <g id="_2123422673264">
            <path class="fil0" style="fill: rgb(47, 70, 142);" d="M73.9,2.5c0,0-5.9-0.7-11.9,13.4C56,30.1,31.5,119.3,27.8,132.7C24,146.1,7.7,255.4,3.2,282.9
			c-4.5,27.5-3,95.9-3,112.3c0,16.4,1.5,34.2,1.5,34.2s5.9,14.1,33.5,20.8c27.5,6.7,81.1,13.4,114.5,3
			c33.5-10.4,34.2-22.3,37.2-31.2c3-8.9,31.2-94.4,31.2-94.4s9.7-38.7,17.8-41.6c8.2-3,12.6,3.7,17.8,14.9c5.2,11.2,35,92.2,35,92.2
			s17.8,52.1,37.2,56.5c19.3,4.5,66.2,6.7,91.5,4.5c25.3-2.2,51.3-9.7,56.5-22.3c5.2-12.6,7.4-75.9,5.2-102.6
			c-2.2-26.8-6.7-123.4-28.3-197.8c-21.6-74.4-33.1-102.3-33.1-102.3s-5.6-3-8.6-7.4c-3-4.5-4.1-11.9-8.6-14.1
			c-4.5-2.2-17.8-6.3-55.4-3c-37.6,3.3-70.6,4.8-88.5,5.6c-17.8,0.7-64.3-1.9-89.2-5.2C142.6,1.4,83.5-2.7,73.9,2.5z">
            </path>
            <path class="fil0" style="fill: rgb(47, 70, 142);" d="M163.6,61.3c54,10.4,74.9,9.9,97.7,8.9c22.8-1,81.8-16.9,107.6-25.8c18.3-6.3,39.6-10.2,50.4-11.9
			c-0.9-2.5-1.4-3.6-1.4-3.6s-5.6-3-8.6-7.4c-3-4.5-4.1-11.9-8.6-14.1c-4.5-2.2-17.8-6.3-55.4-3c-37.6,3.3-70.6,4.8-88.5,5.6
			c-17.8,0.7-64.3-1.9-89.2-5.2c-24.9-3.3-84-7.4-93.7-2.2c0,0-5.9-0.7-11.9,13.4c-1.4,3.4-3.9,11.2-7,21.2
			C73.9,41.7,121.4,53.2,163.6,61.3z"></path>
            <path class="fil0" style="fill: rgb(47, 70, 142);" d="M208.3,36.9c36.7,4,96.2-5,106.1-6.9c9.9-2,79.8-15.9,83.8-18.8c1.2-0.9,2.1-2.2,2.8-3.7
			c-0.1,0-0.1-0.1-0.2-0.2c-4.5-2.2-17.8-6.3-55.4-3c-37.6,3.3-70.6,4.8-88.5,5.6c-17.8,0.7-64.3-1.9-89.2-5.2
			c-24.9-3.3-84-7.4-93.7-2.2c0,0-2-0.2-4.9,2.4c15.9,4.9,44.1,14.7,44.1,14.7S171.6,33,208.3,36.9z"></path>
            <path class="fil0" style="fill: rgb(47, 70, 142);" d="M466.9,431.2c-7.1,5.9-23.8,7.8-53.5,10.8c-29.7,3-71.8-0.4-90.4-4.8c-6.6-1.6-11.9-3.6-16.1-5.6
			c5.7,8.9,12.3,16.3,19,17.9c19.3,4.5,66.2,6.7,91.5,4.5c25.3-2.2,51.3-9.7,56.5-22.3c0.8-2,1.6-5.3,2.3-9.6
			C473.4,425.6,471.3,427.5,466.9,431.2z"></path>
            <path class="fil0" style="fill: rgb(47, 70, 142);" d="M154.9,441.9c-11.9,5.2-47.6,8.6-73.2,7.1c-25.7-1.5-56.9-13-65.4-17.5c-6.5-3.4-12.6-9-15.1-11.4
			c0.3,5.5,0.6,9.2,0.6,9.2s5.9,14.1,33.5,20.8c27.5,6.7,81.1,13.4,114.5,3c33.5-10.4,34.2-22.3,37.2-31.2
			C182.8,426.3,166.8,436.7,154.9,441.9z"></path>
          </g>
        </g>
      </svg></div>
  </div>
  <div class="item-info col-sm-7">
    <h1 class="item-name" data-id="48" data-name="short1">short1</h1>
    <p class="h3 item-price2">Цена за 5+ шт: <span data-id="48" data-price="450">450 руб.</span></p>
    <p class="h3 item-price">Цена за 1-4 шт: <span data-id="48" data-price="900">900 руб.</span></p><br>
    <button class="btn btn-green d-sm-none d-block mobi-settings clickable" data-toggle="collapse" href="#mobivars"
      role="button" aria-expanded="false" aria-controls="mobivars">Опции</button>
    <div class="vars row"><a type="button" class="close" aria-label="Close" data-toggle="collapse" href="#mobivars"
        role="button" aria-expanded="false" aria-controls="mobivars"><span aria-hidden="true">×</span></a>
      <div class="colors-block col-sm-5">
        <div class="row"><span class="h4 col-sm-12">Выберите цвет</span></div><span class="blockColor"><span
            class="selectedColor" id="primaryColorShorts" data-style="fil0" title="Основной цвет" style="background: rgb(47, 70, 142);"></span>
          <div class="colors"><span class="color1"></span><span class="color2"></span><span class="color3"></span><span
              class="color4"></span><span class="color5"></span><span class="color6"></span><span
              class="color7"></span><span class="color8"></span><span class="color9"></span><span
              class="color10"></span><span class="color11"></span><span class="color12"></span><span
              class="color13"></span><span class="color14"></span><span class="color15"></span><span
              class="color16"></span><span class="color17"></span><span class="color18"></span><span
              class="color19"></span><span class="color20"></span><span class="color21"></span></div><span
            class="">Основной цвет</span>
        </span>
      </div>
      <div class="options-block col-sm-7">
      </div>
    </div>
  </div>
  <button class="btn setlayout not_in_cart shorts_to_cart" href="#gaiters-tab">В корзину</button>
</div>
